html { 
    /*background: url(img/BACKGROUND_small.jpg) center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    background: radial-gradient(ellipse, #E6522C, #B22722);
    width: 100%;
    height: 100%;
  }
body {
    max-width: 100%;
    max-height: 100%;
}
.parallax {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;
    margin: 0 auto;
}
.logo {
    display: inline-block;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top:15%;
    z-index: 9999;
}
.comingsoon{
    width: 100%;
    height: 66px;
    position: absolute;
    color: #eee4d7;
    font-family: Avenir;
    font-size: 48px;
    font-weight: 600;
    line-height: 66px;
    text-align: center;
    z-index: 9999;
    bottom: 8%;
  }
.object {
    position: absolute;
    width: 100%;
    height: 100%;
    left:110;

    overflow:visible;
}
.zone0 {
    background-image: url(img/ZONE1_small.png);
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background-size: cover;
}
.zone1 {
    background-image: url(img/SAUTEEPAN_small.png);
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background-size: cover;
}
.zone2 {
    background-image: url(img/ZONE2_small.png);
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background-size: cover;
}
.zone3 {
    background-image: url(img/ZONE3_small.png);
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background-size: cover;
}
.zone4 {
    background-image: url(img/ZONE4_small.png);
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background-size: cover;
}